name: E2E Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  e2e-tests:
    runs-on: semmet/ga-go:1.241
    steps:
    - name: Run E2E tests
      shell: bash
      run: |
        mage test:setup
        mage test:cleanup