name: Release Packages

on:
  workflow_dispatch:
  push:
    tags:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  publish-charts:
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract chart metadata
        id: chart-metadata
        run: |
          VERSION=$(grep '^version:' ./charts/navidrome-deployer/Chart.yaml | awk '{print $2}')
          NAME=$(grep '^name:' ./charts/navidrome-deployer/Chart.yaml | awk '{print $2}')
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "name=$NAME" >> $GITHUB_OUTPUT
      - name: Package chart
        run: |
          helm package ./charts/navidrome-deployer --version ${{ steps.chart-metadata.outputs.version }}
      - name: Push chart to GHCR
        run: |
          helm push ./${{ steps.chart-metadata.outputs.name }}-${{ steps.chart-metadata.outputs.version }}.tgz \
            oci://ghcr.io/${{ github.repository }}/charts